footer {
  
  ul { // override default (list bullets + left margin)
    list-style: none;
    margin-left: 0;}
    
  address { // override default (italic)
    font-style: normal;}
}
  .social-media-icons > li {
    display: inline-block;
    margin: 0 10px;}
// footer