header {
  text-align: center;
  position: relative;
  
  @import 'hero_img';
  @include hero-img();
    
  .text-box {
    height: 100%;
    @include flex;
    @include flex-align(center, middle);}
  
  h1 {
    text-shadow: 0 0 20px #000;
    .slogan {
      display: block;
      font-size: 70%;
      margin-top: 2rem;}}

  .lightbox-open {
    @include position(absolute, $bottom: 30px, $left: 30px);
  }
  .social-media-icons {
    @include position(absolute, $bottom: 30px, $right: 30px);
  }
} //header