section#accommodation
	h2 Le Gite

	h3 L'essentiel
	ul.no-bullet
		li #[strong Peut héberger]: 2 adultes + 2 enfants / 3 adultes
		li #[strong Superficie]: 55m#[sup 2], 1 chambre 1 grand salon
		li #[strong Lits]: un lit double (140*190cm), 2 fauteuils convertibles (80*200cm)
		li #[strong Nous parlons]: FR - DE - EN
		li #[strong Fumeurs]: Interdiction de fumer dans le gite
		li #[strong Fêtes, animaux]: merci de contacter le propriétaire au préalable
		li #[strong Arrivées]: à partir de 17h
		li #[strong Départs]: jusque 10h
	
	h3 Galerie photos
	div.img-container
		img.lightbox-open(src="img/jardin1_HEADER.jpg", alt="Jardin privatif")

	div.center-btn
		button.lightbox-open Voir les photos
	div#lightbox
		div#fig-container
			figure
				img(src="img/facade_BIG.jpg", alt="facade du gite")
				figcaption Facade du gite
			button.arrow-prev &lt;
			button.arrow-next &gt;
		div.close-btn &times;

	h3 Description
	p
		| Meublé de tourisme classé 3 ***, tout juste rénové, le gite occupe le RDC d'une ancienne ferme dans le vieux Essert. L’entrée est indépendante.
		br
		| Il convient au #[strong tourisme] comme au #[strong déplacement professionnel]

