section#accommodation

	h2 Le Gite

	h3 L'essentiel
	ul.no-bullet
		li #[strong Peut héberger]: 2 adultes + 2 enfants / 3 adultes
		li #[strong Superficie]: 55m#[sup 2], 1 chambre 1 grand salon
		li #[strong Lits]: un lit double (140*190cm), 2 fauteuils convertibles (80*200cm)
		li #[strong Nous parlons]: FR - DE - EN
		li #[strong Fumeurs]: Interdiction de fumer dans le gite
		li #[strong Fêtes, animaux]: merci de contacter le propriétaire au préalable
		li #[strong Arrivées]: à partir de 17h
		li #[strong Départs]: jusque 10h
	
	h3 Galerie photos
	div.img-container
		img.lightbox-open(src="img/garden1.jpg", alt="Jardin privatif")

	div.center-btn
		button.lightbox-open Voir les photos
	div#lightbox
		div#fig-container
			figure
				img(src="img/street.jpg", alt="facade du gite")
				figcaption Facade du gite
			button.arrow-prev &lt;
			button.arrow-next &gt;
		div.close-btn &times;

	h3 Description
	p
		| Meublé de tourisme classé 3 ***, tout juste rénové, le gite occupe le RDC d'une ancienne ferme dans le vieux Essert. L’entrée est indépendante.
		br
		| Il convient au #[strong tourisme] comme au #[strong déplacement professionnel]

	h4 Le gite
	.description-toggle
		p Le #[strong salon], spacieux, offre :
		ul
			li un #[strong coin télé/multimédia] avec 2 fauteuils convertibles en lits de 80*200, literie neuve
			li un #[strong coin lecture] près des 2 fenêtres
			li un #[strong coin repas] donnant sur une kitchenette
		p La #[strong kitchenette]  : 2 plaques induction, four micro ondes combiné traditionnel, hotte, lave-linge.
		p La #[strong chambre], literie neuve, 140*190, ouvre sur un jardin privatif.
		p #[strong Jardin privatif] équipé d’un salon de jardin et barbecue.

	h4 Équipement
	.description-toggle
		p VMC dans tout le logement.
		p Équipement de base : Le linge de toilette, les draps, les torchons de cuisine sont fournis.
		p Équipement bébé (lit, chaise, baignoire) à disposition.
		p Côté rue, place de parking privative juste devant le gite.
		p Possibilité de ranger les vélos dans le garage à vélo
		p Table de ping-pong côté rue.
		p J'habite à côté et suis prête à aider dans la mesure de mes capacités.

	h4 Arriver, se déplacer
	.description-toggle
		p Notre gite se situe dans le vieux Essert, près de la Mairie, de l'école primaire, de l'église, et du lavoir.
		p Bus : arrêt à 500m du gite. Possibilité de prendre le bus depuis la gare de Belfort ville (3km) ou la gare TGV Belfort-Montbéliard (12km).
		p Location de vélos Optymo sur la place de la Mairie (5mn à pied du gite).
		p Location de voitures à Super U Essert (1,5km). Téléphoner 48h à l'avance
		p Essert : commune péri-urbaine de Belfort (50 000 habitants). À Essert même : tout commerce et commodité.

	h4 Les environs
		.description-toggle
			p en haut de la rue Coulée Verte pour le « running » avec côté Haute Saône le Salbert 651m), et côté Belfort le Parc de la Douce.
			p Le gite est à :
				ul
					li 3 km du centre ville de Belfort
					li 1 km d'un complexe sportif (Parc de la Douce) comportant patinoire , tennis, piscine
					li 3 km de Bavilliers : centre equestre, parc des daims, parc aventure (tyroliennes, ponts de singe)
					li 20 km du golf de Rougemont le Château.
			p Par ailleurs,
				ul
					li Randonnées: le chemin de St Jacques de Compostelle, la randonnée des forts, le GR5 (Hollande -Méditerranée) passent devant le gite.
					li l'EuroVelo 6 (voie cyclable Atlantique-Mer Noire) emprunte la Coulée Verte à 300 m du gite.
					li Le lac de Malsaucy (baignade, kayak, voile, mini golf, vélo,maison de l'environnement) est à 7km. Balade sympa depuis le gite pour s'y rendre en vélo.
					li À 5km, le fort du Salbert domine de plus de 300m les plaines environnantes (piste de VTT de descente).
			p 
			|Les Vosges, la Haute Saône, le Jura franco-suisse (Saint Ursanne, bourg médiéval ), l'Alsace, l'Allemagne, Bâle, les stations de ski familiales du Ballon d'Alsace, de la Planche Des Belles Filles, la chapelle Le Corbusier à Ronchamp, le Lion de Belfort, les Eurockéennes, le Fimu, le marché de Noël à Montbéliard, le musée Peugeot à Sochaux, la cité du train, le zoo à Mulhouse, la Citadelle de Besançon, le plateau des 1000 étangs, la réserve naturelle nationale des ballons comtois en Franche Comté ; les forêts et ruisseaux du piémont vosgien ; la vallée du Doubs : 
			br
			|Tout est à moins d'une heure de route !

