footer#id
	address
		ul
			li Gite et Couvert chez Dimanche
			li 38 rue de Lattre de Tassigny
			li 90850 Essert
			li FRANCE
		ul
			li +33 6 74 44 63 00
			li +33 9 51 09 35 16
		ul
			li
				a(href="https://www.facebook.com/ChezDimanche", target="_blank")
					img(src="img/social-1_logo-facebook.svg")
			li
				a(href="https://plus.google.com/103795538890436895710/about", target="_blank")
					img(src="img/social-1_logo-google-plus.svg")
			li
				a(href="https://www.instagram.com/gite_chez_dimanche90", target="_blank")
					img(src="img/social-1_logo-instagram.svg")
