footer#contact
	p #{trilili}
	p yoyo
	address
		ul
			li Gite et Couvert chez Dimanche
			li 38 rue de Lattre de Tassigny
			li 90850 Essert
			li FRANCE
		ul
			li +33 6 74 44 63 00
			li +33 9 51 09 35 16
			a(href="mailto:joellemoner@yahoo.fr") joellemoner@yahoo.fr
		ul.social-media-icons
			li
				a(href="https://www.facebook.com/ChezDimanche/", target="_blank")
					img(src="img/social-1_logo-facebook.svg", alt="Facebook icon")
			li
				a(href="https://www.facebook.com/ChezDimanche/", target="_blank")
					img(src="img/social-1_logo-facebook.svg", alt="Facebook icon")
			li
				a(href="https://www.facebook.com/ChezDimanche/", target="_blank")
					img(src="img/social-1_logo-facebook.svg", alt="Facebook icon")