section#google-map

	h2 Plan

	div#map

	div.legend
		p Légende
		label
			| Citadelle de Belfort
			input#citadelle.checkbox(type="checkbox")
		label
			| Ballon d'Alsace
			input#ballon.checkbox(type="checkbox")
		label
			| Chapelle Le Corbusier
			input#chapelle.checkbox(type="checkbox")
		label
			| Sainte-Ursanne
			input#ursanne.checkbox(type="checkbox")
		label
			| Malsaucy
			input#malsaucy.checkbox(type="checkbox")