
header
	nav
		div#menu-toggle menu
			ul
				li
					a(href="#accommodation") Le gite
				li
					a(href="#pricing") Tarifs
				li
					a(href="#google-maps") Plan
				li
					a(href="#testimonials") Commentaires
				li
					a(href="#about") À propos
				li
					a(href="#contact") Contact

	div.text-box
		h1
			span.brand-name 
				| Gite et couvert
				br
				| chez Dimanche
			span.slogan La ville à la campagne !


