
header
	include nav
	
	div.text-box
		h1
			span.brand-name 
				| Gite et couvert
				br
				| chez Dimanche
			span.slogan La ville à la campagne !
	button.lightbox-open Voir les photos
	
	ul.social-media-icons
			li
				a(href="https://www.facebook.com/ChezDimanche", target="_blank")
					img(src="img/icon-facebook-green.svg")
			li
				a(href="https://plus.google.com/103795538890436895710/about", target="_blank")
					img(src="img/icon-google-plus-green.svg")
			li
				a(href="https://www.instagram.com/gite_chez_dimanche90", target="_blank")
					img(src="img/icon-instagram-green.svg")

