-
	var SocialIcons = [
		{
			imgPath: "img/icon-facebook.svg",
			url: "https://www.facebook.com/ChezDimanche"
		},
		{
			imgPath: "img/icon-facebook.svg",
			url: "https://www.facebook.com/ChezDimanche"
		},
		{
			imgPath: "img/icon-facebook.svg",
			url: "https://www.facebook.com/ChezDimanche"
		}
	];

ul.Social-icons
	each val in SocialIcons
		li
			a(href=val.url, target="_blank")
				img(src=val.imgPath)

