doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gite et Couvert chez Dimanche
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/app.css')

  body

    include components/header

    main

      include components/accommodation
      include components/pricing
      include components/googleMap
      include components/testimonials
      include components/about
    
    include components/contact


    // build:js js/bundle.js
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/jquery-ui/jquery-ui.min.js')
    script(src='../bower_components/foundation-sites/dist/foundation.min.js')
    script(src='../js/modules/admin-input.js')
    script(src='../js/app.js')
    // endbuild
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEds1gCBcG31dnUyP2O0hkwhbUVQ78BvA&callback=initMap', async, defer)