
header
	include nav
	
	div.text-box
		h1
			span.brand-name 
				| Gite et couvert
				br
				| chez Dimanche
			span.slogan La ville à la campagne !
	button.lightbox-open Voir les photos
	
	include social_media_icons

