nav
	div#menu-toggle menu
	ul
		li
			a(href="#accommodation") Le gite
		li
			a(href="#pricing") Tarifs
		li
			a(href="#google-map") Plan
		li
			a(href="#testimonials") Commentaires
		li
			a(href="#about") À propos
		li
			a(href="#contact") Contact