#modal.reveal(data-reveal)
	button.close-button(data-close, aria-label="close modal", type="button")
		span(aria-hidden="true") &times;
	form(action="https://formspree.io/tom.mazo.tm@gmail.com", method="post")
		label Votre nom
			input(type="text", name="testimonials")
		label Votre commentaire
			textarea(name="testimonial", rows="4")
		button(type="submit") Envoyer


	