#accommodation {
  h3 {
  margin-left: -5px;
  margin-top: 1.75rem;
  @include breakpoint(medium) {
    margin-left: -10px;}}
  
  h4 { // accordion
    &:hover {
      background-color: $light-gray;
      cursor: pointer;}
    &:after {
      // CSS triangle hack: https://css-tricks.com/snippets/css/css-triangle/
      content: "";
      height: 0;
      width: 0;
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 2px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $primary-color;}} // h4
  
  .description-toggle { // toggle display with js
    display: none;}
    
  img {
    cursor: pointer;}
} // #accommodation