// Variables
// ==============
$green: #27ae60;
$white: #fff;
$light-grey: #e6e6e6;
$color-btn-bg: $green;
$color-btn-txt: $white;



// 1. Basic styles
// ==================

button:not(.close-button) {
  @include button();
}
.center-btn {
  @include flex-row(nowrap, center, center);
}





// Layout
// =================

header{
  height: 100vh;
  @extend .header-bg;
  position: relative;
  @include flex-row(nowrap, center, center);

  .text-box {

  }
  
  .lightbox-open {
    @include position(absolute, $bottom: 30px, $left: 30px);
  }

  .social_media_icons {
    @include position(absolute, $bottom: 30px, $right: 30px);
  }
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 rem-calc(10);
  @include breakpoint(medium){
    padding: 0 rem-calc(30);
  }
  @include breakpoint(large){
    padding: 0 rem-calc(60);
  }

  section {
    padding: rem-calc(30) 0;
  }

}

#about {
  img {
    border-radius: 150px;
    width: 200px;
    display: block;
    margin: 0 auto 1rem;

    @include breakpoint(medium) {
      float: right;
      width: 300px;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}


// TODO: add a .accordion class and make a partial
#accommodation {
  h4 {
    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
    &:after {
      // CSS triangle hack: https://css-tricks.com/snippets/css/css-triangle/
      content: "";
      height: 0;
      width: 0;
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 2px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $primary-color;
    }
    .description-toggle { // toggle display with js
      display: none;
    }
  }

  // TODO: move to lightbox partial
  img {
    cursor: pointer;
  }
}

footer {
  padding: 10px 0;
}

// Typography
// ===============

strong {
  color: $primary-color;
}

header > h1 {
  text-shadow: 0 0 20px #000;

  > .slogan {
    display: block;
    font-size: 70%;
    margin-top: 2rem;
  }
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

h4, h5, h6 {
  font-family: $body-font-family;
}

h3 {
  margin-left: -5px;
  margin-top: 1.75rem;

  @include breakpoint(medium) {
    margin-left: -10px;
  }
}

footer {
  text-align: center;
  font-weight: 500;
}

// Colors and backgrounds
// =========================


body {
  background-color: #ddd;
}


main {
  background-color: #fff;
}

footer {
  background-color: $primary-color;
  color: $white;}