header {
  text-align: center;
  height: 100vh;
  position: relative;
  
  background: {
    image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url(../img/header_landscape_small.jpg);
    image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url(../img/header_landscape_small.jpg);
    position: center;
    size: cover;}
    
    // adapting header background-img to device size
    @media screen and #{breakpoint(portrait)} {
      background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_portrait_small.jpg);
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_portrait_small.jpg);}
    
    @media screen and #{breakpoint(medium)} and #{breakpoint(landscape)} {
      background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_landscape_medium.jpg);
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_landscape_medium.jpg);}
        
    @media screen and #{breakpoint(medium)} and #{breakpoint(portrait)} {
      background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_portrait_medium.jpg);
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_portrait_medium.jpg);}
        
    @media screen and #{breakpoint(large)} and #{breakpoint(landscape)} {
      background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_landscape_large.jpg);
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_landscape_large.jpg);}
        
    @media screen and #{breakpoint(large)} and #{breakpoint(portrait)} {
      background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/jardin1_HEADER.jpg);
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/header_portrait_XL.jpg);}
    
  .text-box {
    height: 100%;
    @include flex;
    @include flex-align(center, middle);}
  
  h1 {
    text-shadow: 0 0 20px #000;
    .slogan {
      display: block;
      font-size: 70%;
      margin-top: 2rem;}}

  .lightbox-open {
    @include position(absolute, $bottom: 30px, $left: 30px);
  }
  .social-media-icons {
    @include position(absolute, $bottom: 30px, $right: 30px);
  }
} //header